body{
    background: linear-gradient(to right, pink, yellow);
    font-family: "Comic Sans MS", cursive;
    text-align: center;
    margin-top: 120px;
}

.card{
    background: white;
    padding: 40px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

h1{
    color: purple;
}

button{
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: darkviolet;
}

#surprise{
    display: none;
    margin-top: 20px;
    font-size: 20px;
    color: red;
}