@{
    ViewData["Title"] = "Home";
}

<h2>E-Commerce Application</h2>

<hr />

<div class="mt-4">

    <a class="btn btn-primary" asp-controller="Product" asp-action="Index">
        Manage Products
    </a>

    <a class="btn btn-success" asp-controller="Customer" asp-action="Index">
        Manage Customers
    </a>

</div>